# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.*

# IDE
.idea/
*.iml
.vscode/

# Java/Maven/Gradle
**/target/
**/out/
**/.classpath
**/.project
**/.settings/
**/.gradle/

# Node (frontend)
**/node_modules/
**/dist/
**/build/

# Docker volumes (local)
**/postgres_data/
